<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.dbVentasConnectionString"
            connectionString="Data Source=luisn\sqlexpress;Initial Catalog=dbVentas;User ID=sa;Password=Talleres2306"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>